.app {
    display: flex;
    flex-direction: column;
    background-color: #121212; /* Dark background for better contrast */
    color: #e0e0e0;  /* Light text color */
    min-height: 1000px;
    min-width: 1000px;
    align-items: top;
    margin-top: auto;
}

div {
    width: 100%;
}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;  /* Darker navbar background */
    min-width: 1000px;
}

.navbar a {
    text-decoration: none;
    color: #4da6ff; 
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-title {
    text-decoration: none;
    color: #ec5223; 
    font-weight: bold;
    font-size: 2rem;
    margin-right: 30%;
}

/* Footer Formatting */
.footer {
    background-color: #1f1f1f;  /* Dark footer */
    color: #e0e0e0;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.projects-content,
.locations-content {
    width: 70%;
    margin: auto;
}

.add-button {
  margin: 10px;
  background-color: #4da6ff;
}

.add-button:hover {
  background-color: #4dc4ff;
  border-color: #ffffff;
}

.project-item, .location-item {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #414141;
    display: block;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;;
}

.project-header, 
.location-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.published,
.unpublished {
  color: white;
  padding: 3px;
  margin: auto;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 500;
}

.published {
  background-color: #28a745;
}

.unpublished {
  background-color: #dc3545;
}

.project-actions,
.location-actions {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.project-item .title {
  display: flex;
  white-space: nowrap;
  max-width: 200px;
  padding-right: 5px;
  text-overflow: "-";
  overflow: hidden;
}

.project-item button, 
.location-item button {
    border-radius: 0%;    
    background-color: rgb(28, 28, 28);
    padding: 8px;
}

.project-item button:hover,
.location-item button:hover {
  filter: brightness(80%);
}

.project-item .edit-button,
.location-item .edit-button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 196, 0);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.project-item .locations-button,
.location-item .qr-button {
    color: rgb(0, 0, 0);
    background-color: rgb(104, 184, 54);
}

.project-item .delete-button,
.location-item .delete-button {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 0, 0);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.project-item .project-description {
  max-width: 600px;            /* Sets the maximum width to 600px */
  overflow-wrap: break-word;   /* Allows breaking long words to prevent overflow */
  /* For better browser support, you can include the deprecated property as well */
  word-break: break-all;      
  /* Alternatively, you can use 'break-all' for more aggressive breaking */
  /* word-break: break-all; */
  /* Optional: Adds hyphens where words break */
  hyphens: auto;                
  /* Additional styling (optional) */
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.locations-content .page-header {
  display: flex;
  justify-content: center;
  min-width: 800px;
}

.locations-content .page-title {
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
  font-size: 2.2rem;
  /* margin-right: 30%; */
  white-space: nowrap;
}


.printAll-button {
  background-color: rgb(104, 184, 54); 
  color: black;
  white-space: nowrap;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.preview-button {
  background-color: rgb(255, 196, 0); 
  color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header-actions {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  font-size: 1rem;
}

.header-actions button:hover {
  filter: brightness(90%);
}

/* formatting for forms. */
.form-control,
.form-select {
  min-width: 600px;
  margin-bottom: 20px;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
  font-size: large;
}

#title.form-control {
  min-width: 200px;
}

textarea {
  resize: none; /* Disable resizing of text areas */
}

/* .input-group.mb-3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
} */

.form-page {
  padding-left: 20%;
}

.form-label {
  display: flex;
}

.landing-page {
  padding-left: 25%;
}

.get-started-button {
  background-color: #dc3545;
  align-items: center;
}

.get-started-button:hover {
  filter: brightness(90%);
}

.location-content {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  line-height: 0%;
  font-weight: 400;
}